#alarmclock{
    box-sizing: border-box;
    height:40vw;
    width:40vw;
    margin-top: 100px;
    margin-left: 30vw;
}

#heading1{
    text-align: center;
    padding: 10px;
    background-color: whitesmoke;
    width: 40vw;
}
#img{
    max-width: 150px;
}


#wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px 30px 38px;
}

#wrapper h1{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0;
}

#content{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
    justify-content: space-between;
}
#content #column{
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #999;
    width: calc(100% / 3 -5px);
}
#column select{
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 19px;
}

#wrapper button{
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    padding: 17px 0;
    border-radius: 5px;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}